.input-container {
    position: relative;
    margin-bottom: 20px; /* Adjust as needed */
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    position: relative;
    z-index: 1;
  }
  
  .input-label {
    position: absolute;
    top: 10px; /* Adjust as needed based on your design */
    left: 10px; /* Adjust as needed based on your design */
    color: #999;
    pointer-events: none; /* Prevent label from interfering with input clicks */
    transition: top 0.3s, font-size 0.3s, color 0.3s;
  }
  
  .input-field:focus + .input-label {
    top: -10px; /* Move label up when input is focused */
    font-size: 12px; /* Adjust font size when label moves up */
    color: #999; /* Adjust color as needed */
  }
  